*{

    margin: 0 auto;
    color: white;
}

body{
    background-color: #ccc;
}

div#contenido{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    height: 888px;
    
}

div > header{
    background-color:  rgb(195, 106, 16);
}

div > article{
    background-color: rgb(37, 172, 213);
}

nav{
    background-color: rgb(207, 199, 33);
}

aside{
    background-color:  rgb(200, 123, 191);
}

div > footer{
    background-color: rgb(23, 228, 156);
}

header, article, nav, aside, footer{
    flex-basis: 100%;
}

@media all and (min-width: 600px){

    header{
        background-color: red;
    }
    article{
        flex: 60%;
        order: 3;
    }

    aside{
        flex: 50%;
    }

    


}

@media all and (min-width: 1000px){
    main > nav{
        order: 1;
    }

    main > article{
        order: 2;
        flex: 50%;
    }
    main > aside{
        order: 3;
        flex: 15%;
    }
}